agentic_rag_workflow_http.json
{
  "name": "agentic-rag-workflow-http",
  "nodes": [
    {
      "parameters": {
        "url": "http://api-server:8000/api/chat/memory/{{$json.sessionId}}",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "responseFormat": "json"
      },
      "id": "518a424b-3d71-40c7-adc6-fdb092a19302",
      "name": "HTTP Request - Chat Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -320,
        -60
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-server:8000/api/chat/ollama",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "prompt",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "temperature",
              "value": 0
            }
          ]
        },
        "responseFormat": "json"
      },
      "id": "7a420eba-c9ff-4829-80c5-ab0abae3ade6",
      "name": "HTTP Request - Chat Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -460,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-server:8000/api/llm/ollama",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "temperature",
              "value": 0
            }
          ]
        },
        "responseFormat": "json"
      },
      "id": "95109074-b145-43e1-873c-f8848e90d18a",
      "name": "HTTP Request - LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        580,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-server:8000/api/vector_store/search",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "topK",
              "value": 3
            }
          ]
        },
        "responseFormat": "json"
      },
      "id": "baea6769-bb4c-49bf-9e86-9bb8b1f7f231",
      "name": "HTTP Request - Vector Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        340,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-server:8000/api/embeddings/ollama",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "texts",
              "value": "={{ $json.texts }}",
              "contentType": "json"
            }
          ]
        },
        "responseFormat": "json"
      },
      "id": "4462c29f-f563-48fc-80f8-7809907f8899",
      "name": "HTTP Request - Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api-server:8000/webhook/create_source_embeddings",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "responseFormat": "json"
      },
      "id": "d546c7f6-59ce-448e-9364-6ef162f90d9b",
      "name": "HTTP Request - Create Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -40,
        260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Agentic RAG Chat & Tool Calling Handler (HTTP Requests)",
        "height": 527,
        "width": 989
      },
      "id": "7f3956c6-7237-4c65-bcfb-1062cccf61ca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        -400
      ]
    },
    {
      "parameters": {
        "content": "## Local RAG Tool (HTTP Requests)",
        "height": 529,
        "width": 523,
        "color": 4
      },
      "id": "a2cb61c0-4c01-4e05-ba76-2455376268d9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -400
      ]
    },
    {
      "parameters": {
        "content": "## Vector DB Creation (HTTP Requests)",
        "height": 585,
        "width": 1529,
        "color": 5
      },
      "id": "713e5320-59ff-48de-89fb-752889458f31",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {}
      },
      "id": "b856f0ce-4efe-4560-afa6-a7040099cddb",
      "name": "Webhook - Chat Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        -280
      ],
      "webhookId": "4b3b1838-d6b3-447e-9d79-d0931eddb9f8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api-server:8000/webhook/invoke_n8n_agent",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "chatInput",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $json.sessionId }}"
            }
          ]
        },
        "responseFormat": "json"
      },
      "id": "c9cd1a9b-0df0-4832-864f-0f1adbcdbac9",
      "name": "HTTP Request - Invoke Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -380,
        -280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput || $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || $json.sessionId || $timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "43bf507d-39c1-463d-a8c9-aacb366c366e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c518bc5e-acf1-4b34-8a41-0ccc9f88b03a",
      "name": "Webhook - Agent API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        -100
      ],
      "webhookId": "4a839da9-b8a2-45f8-bcaf-c484f9a5912d"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "866f23a7-47a8-4db1-8975-c1185fc9e0bd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -40,
        -280
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        260
      ],
      "id": "766e950d-a0ec-4016-b71d-dad449af9b45",
      "name": "When clicking 'Create Embeddings'"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "create_embeddings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "76d89756-76f5-4c79-8e77-496eeed36ed4",
      "name": "Webhook - Create Embeddings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        400
      ],
      "webhookId": "4b3b1838-d6b3-447e-9d79-d0931eddb9f9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "0f89c168-1c12-42a5-880f-3b1bb1c0b7fc",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Chat Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Invoke Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request - Invoke Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Agent API": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Create Embeddings'": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Embeddings": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Create Embeddings": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2023-10-16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "MHy1fjGBR7okXQo0",
  "tags": []
} 